/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* header area css */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5a3;
}
.header-area{
    background-image: url(./images/bg.png);
    background-position: center center;
    background-size: cover;
    height: 500px;
}
/* card background */
.bg-card{
    background-color:#151E2D;
}
/* input increase decrease hide */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* disable btn css */
button:disabled,
button[disabled]{
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}