/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* header area css */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #151515;
}
.header-area{
    background-image: url(./images/bg.png);
    background-position: center center;
    background-size: cover;
    height: 500px;
}
.bg-card{
    background-color:#0D0D0D;
}
